---
export const prerender = false;

import Game from "../../../components/Game";
import GameFooter from "../../../components/GameFooter.astro";
import MainLayout from "../../../layout/MainLayout.astro";
import { createOrGetDailyChallenge } from "../../../lib/server/challenge";
import { encodeToBase64, getDateString } from "../../../lib/utils";
import { extractDataFromWiki } from "../../../lib/web";

const { date } = Astro.params;
const finalDate = date ?? getDateString();
const challenge = await createOrGetDailyChallenge(finalDate);
if (!challenge) return Astro.rewrite("/404.html");
const { title: rawTitle } = challenge;
const encodedTitle = encodeToBase64(rawTitle);
const content = await extractDataFromWiki(rawTitle);
if (!content || !encodedTitle) return Astro.rewrite("/500.html");
const { title, extract } = content;
---

<MainLayout subtitle={"Daily Challenge - ".concat(finalDate)}>
	<div class="flex flex-col items-center gap-4">
		<h1 class="text-2xl font-bold mt-2">
			Daily Challenge for {date}
		</h1>
		<Game
			client:load
			text={content}
			encodedTitle={encodedTitle}
			id={challenge.id}
		/>
		<GameFooter title={title} extract={extract} />
	</div>
</MainLayout>
